.main {
  border: 1px solid #ff0000;

  :global(.sample-canvas) {
    border: 10px solid purple;

    :global(.canvas-container) {
      border: 10px solid greenyellow;
    }

    :global(.lower-canvas) {
      border: 5px solid orange;
    }
  }
}
