body {
  /* constants */
  --body-bg-color: rgb(228 213 221);
  /* --body-bg-color: rgb(0, 0, 0); */
  --main-bg-color: var(--body-bg-color)
  --box-bg-color: var(--body-bg-color)
  /* --main-bg-color: rgb(165, 167, 171);
  --box-bg-color: rgb(226, 226, 226); */

  background-color: var(--body-bg-color) !important;
}

#root {
  margin: 0 auto;
  text-align: center;
  margin-top: 2%;
}

.navBar {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #e0e0e0;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #ccc;
}