.main {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 95vw;
  /* width: 1200px; */
  /* border: 1px solid red; */
  margin: auto;
  display: flex;
  margin-left: 0px;
}

.topRow {
  display: flex;
  flex: 1;
  max-height: 15vh;
}

.bottomRow {
  display: flex;
  flex: 1;
}

.box {
  flex: 1;
  border: 1px solid black;
  margin: 1%;
  background-color: var(--box-bg-color);
  overflow: hidden;
}

.box img {
  /* max-width: 110%; */
  /* max-height: auto; */
  max-height: 150%;
  display: block;
}

.tallBox {
  flex: 1;
  border: 1px solid black;
  margin: 1%;
  background-color: var(--box-bg-color);
}

.largeBox {
  flex: 3;
  border: 1px solid black;
  margin: 1%;
  background-color: var(--box-bg-color);
}

.messageText {
  font-size: 24px;
}
