.main {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  border: 5px solid red;
}

.topRow {
  display: flex;
  flex: 1;
  max-height: 20vh;
}

.bottomRow {
  display: flex;
  flex: 1;
}

.box {
  flex: 1;
  border: 1px solid black;
  margin: 1%;
  background-color: grey;
}

.tallBox {
  flex: 1;
  border: 1px solid black;
  margin: 1%;
  background-color: grey;
}

.largeBox {
  flex: 3;
  border: 1px solid black;
  margin: 1%;
  background-color: grey;
}
