.App {
  /* font-family: sans-serif; */
  /* text-align: center; */
  border: 2px solid red;
  display: flex;
  height: 800px;
  width: 1000px;
}

.sample-canvas {
  /* height: 800px; */
  /* width: 1000px; */
  border: 10px solid purple;
}

.canvas-container {
  border: 2px solid greenyellow;
  /* width: 1000px; */
}
