.main {
  border: 1px solid red;
  display: flex;
  height: 800px;
  width: 1000px;

  :global(.sample-canvas) {
    border: 10px solid purple;
  }

  :global(.canvas-container) {
    border: 2px solid greenyellow;
  }
}
